new_characters:
    action: new
    contenttype: characters
    options:
        message: "Une nouvelle candidature vient d'être postée ! Evaluer la feuille de personnage [link]"
    webhook: https://discordapp.com/api/webhooks/.....

change_modules:
    action:
        type: update
        fields:
            modules_block: ['id', 'name']
    contenttype: modules
    options:
        fields: 
            datechanged: simple
            modules_block: ['id', 'name']
        message: @here Dernière mise à jour des modules le [datechanged] ```[modules_block] ```
    webhook: https://discordapp.com/api/webhooks/....
    username: Liste des modules
    # avatar_url:
    # embeds:
    #     title: foo 
    #     color: 3366ff
    #     type: rich
    #     description: foooo
    #     url: http://
    #     image:
    #     footer:
    #         text:
    #         icon_url:
    #     image:
    #         url:
    #     thumbnail:
    #         url:
    #     author:
    #         name:
    #         url: http://
    #     fields:
    #         foo :
    #             name:
    #             value:
    #             inline:
            
